<div class="rich_text no-header-section" style="background-color: {{section.settings.background}}">
  <div class="page-width">
    <div class="rich_text__content">
    <h2 class="rich_text__title">Let Our Community Speak</h2>

      <!-- Widget 1: Judge.me Carousel -->
      <div class='jdgm-carousel-wrapper'>
        {% assign jm_metafields = shop.metafields.judgeme %}
        <div class='jdgm-carousel-title-and-link'>
          <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
          <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
            <span style='display:block' data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
            <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
              from {{ shop.metafields.judgeme.all_reviews_count }} reviews 
            </span>
          </span>
        </div>
        {{ jm_metafields.featured_carousel }}
      </div>

      <!-- Widget 2: Judge.me Medals -->
      <div class="jdgm-medals-wrapper">
        {{ shop.metafields.judgeme.medals }}
      </div>
    </div>
  </div>
</div>

<style>
  .rich_text__title {
    text-align: center;
  }
  .jdgm-medals-wrapper {
    padding-bottom: 48px !important;
  }
  .jdgm-carousel-wrapper {
    padding: 0 !important;
  }

  .jdgm-carousel__item {
    position: relative !important;
    margin-top: -60px !important;
  }

  .jdgm-carousel-item__product {
    position: relative !important;
    top: -280px !important;
    width: 100% !important;
    height: auto !important;
  }

  .jdgm-carousel-item__product-image {
    border-radius: 8px !important;
  }

  @media (max-width: 480px) {
    .jdgm-carousel-item__product-image {
      max-height: 144px;
      width: 256px !important;
      border-radius: 8px;
    }
  }

  .jdgm-carousel-item__review {
    position: relative !important;
    top: 296px !important;
    width: 100% !important;
  }

  .jdgm-carousel-item__review-body {
    font-family: 'Gilroy-Regular';
    font-size: 16px !important;
    margin-top: 8px !important;
  }

  .jdgm-carousel-item__reviewer-name-wrapper {
    position: relative !important;
    top: 94px !important;
    width: 100% !important;
    margin: 16px auto !important;
  }

  .jdgm-carousel-item__reviewer-name {
    padding-bottom: 8px !important;
    font-size: 16px !important;
    opacity: 1 !important;
  }

  .jdgm-carousel-item__timestamp {
    font-size: 12px !important;
    font-style: normal !important;
  }

  .jdgm-carousel-item__product-title {
    margin-top: 16px !important;
    font-size: 16px !important;
  }

  .jdgm-carousel-item__review-rating {
    font-size: 100% !important;
  }
</style>