<style>.__pf .splide__list .splide__slide:not(.is-visible){display:none!important}@page{font-display:optional}sc-eCImPb kpLYuK pf-184_ pf-anchor{color:#fff}.main-content{margin-top:0;margin-bottom:0}.swiper{width:100%;margin:0 auto;visibility:hidden;min-height:180px;overflow:hidden}.swiper-slide{text-align:center;border-radius:8px}@media screen and (min-width:1024px){.swiper-slide{width:calc((100% - 4 * 20px)/ 5)}}.swiper-slide img,.swiper-slide video{width:100%;height:auto;border-radius:8px}.slides-button-next,.slides-button-prev{position:absolute;top:50%;width:48px;height:48px;margin-top:-24px;border-radius:50%;background-color:#fff;display:flex;align-items:center;justify-content:center;z-index:10;cursor:pointer;border:none;padding:0;box-shadow:0 0 40px 0 #0000003D}.slides-button-next .chevron,.slides-button-prev .chevron{fill:black}.slides-button-next:hover,.slides-button-prev:hover{border:2px solid #f1f1f1}.slides-button-next:hover .chevron,.slides-button-prev:hover .chevron{fill:#0080FF}.slides-button-prev{left:24px;transform:rotate(180deg)}.slides-button-next{right:24px}@media (max-width:1024px){.slides-button-next,.slides-button-prev{display:none}}.icons-container{display:flex;justify-content:center;flex-wrap:wrap;gap:40px}.svg-container{position:relative;width:64px;height:64px;display:flex;justify-content:center;align-items:center}.svg-container img{position:absolute;width:100%;height:100%;transition:opacity .3s}.svg-container:hover .svg-hover,.svg-default{opacity:1}.product-thumbnail-container:hover .product-thumbnail,.svg-container:hover .svg-default,.svg-hover{opacity:0}.product-thumbnail-container{position:relative;display:inline-block;overflow:hidden;border-radius:8px;max-width:360px;width:100%}.product-thumbnail-container:hover .product-video{display:block;position:absolute;top:0;left:0;width:100%;height:100%}.product-thumbnail,.product-video{border-radius:8px;width:100%;height:auto}.grid-container{display:grid;grid-template-columns:repeat(4,1fr);grid-gap:40px}.grid-item,.grid-item img{width:100%;height:auto;display:block}.grid-item{background-size:cover;background-position:center;border:1px solid transparent;border-radius:8px;transition:outline .3s,border .3s,border-color .3s,outline-color .3s}.collari_inner a,.profile-card{text-decoration:none;border-radius:8px}.blog-image img,.profile-pic{transition:transform .3s}.grid-item:hover{background-color:#f1f1f1}@media (max-width:768px){.grid-container{grid-template-columns:repeat(2,1fr)}}.collari_inner{display:flex;gap:8px;flex-wrap:wrap;justify-content:center}.collari_inner a{flex:calc(25% - 8px);background:#fff;display:flex;flex-direction:column;align-items:center;justify-content:center;padding:24px;height:160px;box-sizing:border-box}.collari_inner a:hover{background:#f1f1f1;outline:#ffffff solid 2px;outline-offset:-2px}.collari_inner img{max-height:48px;max-width:48px;object-fit:contain}.collari_inner h3{font-family:Gilroy-Regular,sans-serif;font-style:normal;font-weight:500;font-size:16px;line-height:24px;text-align:center;color:#000;margin:16px 0 0}@media only screen and (max-width:500px){.collari_inner a{flex:calc(50% - 8px)}}.profile-section{display:flex;flex-wrap:wrap;gap:40px;justify-content:center;padding:20px;box-sizing:border-box}.profile-card{display:flex;flex-direction:column;align-items:center;max-width:256px;background:#f1f1f1ff;overflow:hidden}.profile-pic{width:256px;height:256px;object-fit:cover;border-top-left-radius:8px;border-top-right-radius:8px}.blog-title,.profile-button{transition:color .3s}.blog-image img:hover,.profile-pic:hover{transform:scale(1.05)}.profile-button{display:flex;justify-content:center;align-items:center;width:100%;height:52px;background-color:#f1f1f1ff;color:#000;border-bottom-left-radius:8px;border-bottom-right-radius:8px;box-sizing:border-box}.blog-title:hover,.profile-card:hover .profile-button{color:#0080ff}@media (max-width:1024px) and (min-width:768px){.profile-section{justify-content:space-between}.profile-card{width:calc(33.333% - 26.67px)}}@media (max-width:767px){.profile-card,.swiper-slide{width:100%}.product-thumbnail-container{max-width:100%}.profile-section{flex-direction:column;align-items:center;gap:20px}}.jdgm-carousel-wrapper{padding:0!important}.jdgm-carousel__item{position:relative!important;margin-top:-60px!important}.jdgm-carousel-item__product{position:relative!important;top:-280px!important;width:100%!important;height:auto!important}.jdgm-carousel-item__product-image{border-radius:8px!important}@media (max-width:480px){.grid-container{grid-template-columns:1fr}.jdgm-carousel-item__product-image{max-height:144px;width:256px!important;border-radius:8px}}.jdgm-carousel-item__review{position:relative!important;top:296px!important;width:100%!important}.jdgm-carousel-item__review-body{font-family:Gilroy-Regular;font-size:16px!important;margin-top:8px!important}.jdgm-carousel-item__reviewer-name-wrapper{position:relative!important;top:94px!important;width:100%!important;margin:16px auto!important}.jdgm-carousel-item__reviewer-name{padding-bottom:8px!important;font-size:16px!important;opacity:1!important}.jdgm-carousel-item__timestamp{font-size:12px!important;font-style:normal!important}.jdgm-carousel-item__product-title{margin-top:16px!important;font-size:16px!important}.jdgm-carousel-item__review-rating{font-size:100%!important}</style>{% if product_10036026179915 == null %}{%- assign product_10036026179915 = all_products["ai-tts-stream-companion"] -%}{% endif %} {% if product_8901256642891 == null %}{%- assign product_8901256642891 = all_products["customizable-vtuber-model"] -%}{% endif %} {% if product_7827210830040 == null %}{%- assign product_7827210830040 = all_products["itachi"] -%}{% endif %} {% if product_7661641597144 == null %}{%- assign product_7661641597144 = all_products["data"] -%}{% endif %} {% if product_8703062999371 == null %}{%- assign product_8703062999371 = all_products["cute-chat-widget"] -%}{% endif %} {% if product_8708184375627 == null %}{%- assign product_8708184375627 = all_products["abyss"] -%}{% endif %} {% if product_8361916531019 == null %}{%- assign product_8361916531019 = all_products["cute-cats"] -%}{% endif %} {% if product_7794631999704 == null %}{%- assign product_7794631999704 = all_products["purple-night"] -%}{% endif %} {% if product_8644077945163 == null %}{%- assign product_8644077945163 = all_products["witchy-kitten"] -%}{% endif %} {% if product_7525273338072 == null %}{%- assign product_7525273338072 = all_products["neon-webcams"] -%}{% endif %} {% if product_8703064899915 == null %}{%- assign product_8703064899915 = all_products["minimal-event-bar-widget"] -%}{% endif %} {% if product_7593437659352 == null %}{%- assign product_7593437659352 = all_products["dog-emotes"] -%}{% endif %} {% if product_6853720441023 == null %}{%- assign product_6853720441023 = all_products["nexus"] -%}{% endif %} {% if product_7600476913880 == null %}{%- assign product_7600476913880 = all_products["free-twitch-panels"] -%}{% endif %} {% if product_7648508575960 == null %}{%- assign product_7648508575960 = all_products["razor"] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["10036026179915"] = {
		id: {{ product_10036026179915.id | json }},
		handle: {{ product_10036026179915.handle | json }},
		title: {{ product_10036026179915.title | json }},
		type: {{ product_10036026179915.type | json }},
		url: {{ product_10036026179915.url | within: collection | json }},
		vendor: {{ product_10036026179915.vendor | json }},
		variants: {{ product_10036026179915.variants | json }},
		options: {{ product_10036026179915.options | json }},
		media: {{ product_10036026179915.media | json }},
		has_only_default_variant: {{ product_10036026179915.has_only_default_variant | json }},
		options_with_values: {{ product_10036026179915.options_with_values | json }},
		selected_variant: {{ product_10036026179915.selected_variant | json }},
		selected_or_first_available_variant: {{ product_10036026179915.selected_or_first_available_variant | json }},
		tags: {{ product_10036026179915.tags | json }},
		template_suffix: {{ product_10036026179915.template_suffix | json }},
		featured_image: {{ product_10036026179915.featured_image | json }},
		featured_media: {{ product_10036026179915.featured_media | json }},
		images: {{ product_10036026179915.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_10036026179915.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["8901256642891"] = {
		id: {{ product_8901256642891.id | json }},
		handle: {{ product_8901256642891.handle | json }},
		title: {{ product_8901256642891.title | json }},
		type: {{ product_8901256642891.type | json }},
		url: {{ product_8901256642891.url | within: collection | json }},
		vendor: {{ product_8901256642891.vendor | json }},
		variants: {{ product_8901256642891.variants | json }},
		options: {{ product_8901256642891.options | json }},
		media: {{ product_8901256642891.media | json }},
		has_only_default_variant: {{ product_8901256642891.has_only_default_variant | json }},
		options_with_values: {{ product_8901256642891.options_with_values | json }},
		selected_variant: {{ product_8901256642891.selected_variant | json }},
		selected_or_first_available_variant: {{ product_8901256642891.selected_or_first_available_variant | json }},
		tags: {{ product_8901256642891.tags | json }},
		template_suffix: {{ product_8901256642891.template_suffix | json }},
		featured_image: {{ product_8901256642891.featured_image | json }},
		featured_media: {{ product_8901256642891.featured_media | json }},
		images: {{ product_8901256642891.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_8901256642891.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["7827210830040"] = {
		id: {{ product_7827210830040.id | json }},
		handle: {{ product_7827210830040.handle | json }},
		title: {{ product_7827210830040.title | json }},
		type: {{ product_7827210830040.type | json }},
		url: {{ product_7827210830040.url | within: collection | json }},
		vendor: {{ product_7827210830040.vendor | json }},
		variants: {{ product_7827210830040.variants | json }},
		options: {{ product_7827210830040.options | json }},
		media: {{ product_7827210830040.media | json }},
		has_only_default_variant: {{ product_7827210830040.has_only_default_variant | json }},
		options_with_values: {{ product_7827210830040.options_with_values | json }},
		selected_variant: {{ product_7827210830040.selected_variant | json }},
		selected_or_first_available_variant: {{ product_7827210830040.selected_or_first_available_variant | json }},
		tags: {{ product_7827210830040.tags | json }},
		template_suffix: {{ product_7827210830040.template_suffix | json }},
		featured_image: {{ product_7827210830040.featured_image | json }},
		featured_media: {{ product_7827210830040.featured_media | json }},
		images: {{ product_7827210830040.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_7827210830040.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["7661641597144"] = {
		id: {{ product_7661641597144.id | json }},
		handle: {{ product_7661641597144.handle | json }},
		title: {{ product_7661641597144.title | json }},
		type: {{ product_7661641597144.type | json }},
		url: {{ product_7661641597144.url | within: collection | json }},
		vendor: {{ product_7661641597144.vendor | json }},
		variants: {{ product_7661641597144.variants | json }},
		options: {{ product_7661641597144.options | json }},
		media: {{ product_7661641597144.media | json }},
		has_only_default_variant: {{ product_7661641597144.has_only_default_variant | json }},
		options_with_values: {{ product_7661641597144.options_with_values | json }},
		selected_variant: {{ product_7661641597144.selected_variant | json }},
		selected_or_first_available_variant: {{ product_7661641597144.selected_or_first_available_variant | json }},
		tags: {{ product_7661641597144.tags | json }},
		template_suffix: {{ product_7661641597144.template_suffix | json }},
		featured_image: {{ product_7661641597144.featured_image | json }},
		featured_media: {{ product_7661641597144.featured_media | json }},
		images: {{ product_7661641597144.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_7661641597144.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["8703062999371"] = {
		id: {{ product_8703062999371.id | json }},
		handle: {{ product_8703062999371.handle | json }},
		title: {{ product_8703062999371.title | json }},
		type: {{ product_8703062999371.type | json }},
		url: {{ product_8703062999371.url | within: collection | json }},
		vendor: {{ product_8703062999371.vendor | json }},
		variants: {{ product_8703062999371.variants | json }},
		options: {{ product_8703062999371.options | json }},
		media: {{ product_8703062999371.media | json }},
		has_only_default_variant: {{ product_8703062999371.has_only_default_variant | json }},
		options_with_values: {{ product_8703062999371.options_with_values | json }},
		selected_variant: {{ product_8703062999371.selected_variant | json }},
		selected_or_first_available_variant: {{ product_8703062999371.selected_or_first_available_variant | json }},
		tags: {{ product_8703062999371.tags | json }},
		template_suffix: {{ product_8703062999371.template_suffix | json }},
		featured_image: {{ product_8703062999371.featured_image | json }},
		featured_media: {{ product_8703062999371.featured_media | json }},
		images: {{ product_8703062999371.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_8703062999371.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["8708184375627"] = {
		id: {{ product_8708184375627.id | json }},
		handle: {{ product_8708184375627.handle | json }},
		title: {{ product_8708184375627.title | json }},
		type: {{ product_8708184375627.type | json }},
		url: {{ product_8708184375627.url | within: collection | json }},
		vendor: {{ product_8708184375627.vendor | json }},
		variants: {{ product_8708184375627.variants | json }},
		options: {{ product_8708184375627.options | json }},
		media: {{ product_8708184375627.media | json }},
		has_only_default_variant: {{ product_8708184375627.has_only_default_variant | json }},
		options_with_values: {{ product_8708184375627.options_with_values | json }},
		selected_variant: {{ product_8708184375627.selected_variant | json }},
		selected_or_first_available_variant: {{ product_8708184375627.selected_or_first_available_variant | json }},
		tags: {{ product_8708184375627.tags | json }},
		template_suffix: {{ product_8708184375627.template_suffix | json }},
		featured_image: {{ product_8708184375627.featured_image | json }},
		featured_media: {{ product_8708184375627.featured_media | json }},
		images: {{ product_8708184375627.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_8708184375627.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["8361916531019"] = {
		id: {{ product_8361916531019.id | json }},
		handle: {{ product_8361916531019.handle | json }},
		title: {{ product_8361916531019.title | json }},
		type: {{ product_8361916531019.type | json }},
		url: {{ product_8361916531019.url | within: collection | json }},
		vendor: {{ product_8361916531019.vendor | json }},
		variants: {{ product_8361916531019.variants | json }},
		options: {{ product_8361916531019.options | json }},
		media: {{ product_8361916531019.media | json }},
		has_only_default_variant: {{ product_8361916531019.has_only_default_variant | json }},
		options_with_values: {{ product_8361916531019.options_with_values | json }},
		selected_variant: {{ product_8361916531019.selected_variant | json }},
		selected_or_first_available_variant: {{ product_8361916531019.selected_or_first_available_variant | json }},
		tags: {{ product_8361916531019.tags | json }},
		template_suffix: {{ product_8361916531019.template_suffix | json }},
		featured_image: {{ product_8361916531019.featured_image | json }},
		featured_media: {{ product_8361916531019.featured_media | json }},
		images: {{ product_8361916531019.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_8361916531019.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["7794631999704"] = {
		id: {{ product_7794631999704.id | json }},
		handle: {{ product_7794631999704.handle | json }},
		title: {{ product_7794631999704.title | json }},
		type: {{ product_7794631999704.type | json }},
		url: {{ product_7794631999704.url | within: collection | json }},
		vendor: {{ product_7794631999704.vendor | json }},
		variants: {{ product_7794631999704.variants | json }},
		options: {{ product_7794631999704.options | json }},
		media: {{ product_7794631999704.media | json }},
		has_only_default_variant: {{ product_7794631999704.has_only_default_variant | json }},
		options_with_values: {{ product_7794631999704.options_with_values | json }},
		selected_variant: {{ product_7794631999704.selected_variant | json }},
		selected_or_first_available_variant: {{ product_7794631999704.selected_or_first_available_variant | json }},
		tags: {{ product_7794631999704.tags | json }},
		template_suffix: {{ product_7794631999704.template_suffix | json }},
		featured_image: {{ product_7794631999704.featured_image | json }},
		featured_media: {{ product_7794631999704.featured_media | json }},
		images: {{ product_7794631999704.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_7794631999704.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["8644077945163"] = {
		id: {{ product_8644077945163.id | json }},
		handle: {{ product_8644077945163.handle | json }},
		title: {{ product_8644077945163.title | json }},
		type: {{ product_8644077945163.type | json }},
		url: {{ product_8644077945163.url | within: collection | json }},
		vendor: {{ product_8644077945163.vendor | json }},
		variants: {{ product_8644077945163.variants | json }},
		options: {{ product_8644077945163.options | json }},
		media: {{ product_8644077945163.media | json }},
		has_only_default_variant: {{ product_8644077945163.has_only_default_variant | json }},
		options_with_values: {{ product_8644077945163.options_with_values | json }},
		selected_variant: {{ product_8644077945163.selected_variant | json }},
		selected_or_first_available_variant: {{ product_8644077945163.selected_or_first_available_variant | json }},
		tags: {{ product_8644077945163.tags | json }},
		template_suffix: {{ product_8644077945163.template_suffix | json }},
		featured_image: {{ product_8644077945163.featured_image | json }},
		featured_media: {{ product_8644077945163.featured_media | json }},
		images: {{ product_8644077945163.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_8644077945163.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["7525273338072"] = {
		id: {{ product_7525273338072.id | json }},
		handle: {{ product_7525273338072.handle | json }},
		title: {{ product_7525273338072.title | json }},
		type: {{ product_7525273338072.type | json }},
		url: {{ product_7525273338072.url | within: collection | json }},
		vendor: {{ product_7525273338072.vendor | json }},
		variants: {{ product_7525273338072.variants | json }},
		options: {{ product_7525273338072.options | json }},
		media: {{ product_7525273338072.media | json }},
		has_only_default_variant: {{ product_7525273338072.has_only_default_variant | json }},
		options_with_values: {{ product_7525273338072.options_with_values | json }},
		selected_variant: {{ product_7525273338072.selected_variant | json }},
		selected_or_first_available_variant: {{ product_7525273338072.selected_or_first_available_variant | json }},
		tags: {{ product_7525273338072.tags | json }},
		template_suffix: {{ product_7525273338072.template_suffix | json }},
		featured_image: {{ product_7525273338072.featured_image | json }},
		featured_media: {{ product_7525273338072.featured_media | json }},
		images: {{ product_7525273338072.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_7525273338072.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["8703064899915"] = {
		id: {{ product_8703064899915.id | json }},
		handle: {{ product_8703064899915.handle | json }},
		title: {{ product_8703064899915.title | json }},
		type: {{ product_8703064899915.type | json }},
		url: {{ product_8703064899915.url | within: collection | json }},
		vendor: {{ product_8703064899915.vendor | json }},
		variants: {{ product_8703064899915.variants | json }},
		options: {{ product_8703064899915.options | json }},
		media: {{ product_8703064899915.media | json }},
		has_only_default_variant: {{ product_8703064899915.has_only_default_variant | json }},
		options_with_values: {{ product_8703064899915.options_with_values | json }},
		selected_variant: {{ product_8703064899915.selected_variant | json }},
		selected_or_first_available_variant: {{ product_8703064899915.selected_or_first_available_variant | json }},
		tags: {{ product_8703064899915.tags | json }},
		template_suffix: {{ product_8703064899915.template_suffix | json }},
		featured_image: {{ product_8703064899915.featured_image | json }},
		featured_media: {{ product_8703064899915.featured_media | json }},
		images: {{ product_8703064899915.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_8703064899915.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["7593437659352"] = {
		id: {{ product_7593437659352.id | json }},
		handle: {{ product_7593437659352.handle | json }},
		title: {{ product_7593437659352.title | json }},
		type: {{ product_7593437659352.type | json }},
		url: {{ product_7593437659352.url | within: collection | json }},
		vendor: {{ product_7593437659352.vendor | json }},
		variants: {{ product_7593437659352.variants | json }},
		options: {{ product_7593437659352.options | json }},
		media: {{ product_7593437659352.media | json }},
		has_only_default_variant: {{ product_7593437659352.has_only_default_variant | json }},
		options_with_values: {{ product_7593437659352.options_with_values | json }},
		selected_variant: {{ product_7593437659352.selected_variant | json }},
		selected_or_first_available_variant: {{ product_7593437659352.selected_or_first_available_variant | json }},
		tags: {{ product_7593437659352.tags | json }},
		template_suffix: {{ product_7593437659352.template_suffix | json }},
		featured_image: {{ product_7593437659352.featured_image | json }},
		featured_media: {{ product_7593437659352.featured_media | json }},
		images: {{ product_7593437659352.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_7593437659352.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["6853720441023"] = {
		id: {{ product_6853720441023.id | json }},
		handle: {{ product_6853720441023.handle | json }},
		title: {{ product_6853720441023.title | json }},
		type: {{ product_6853720441023.type | json }},
		url: {{ product_6853720441023.url | within: collection | json }},
		vendor: {{ product_6853720441023.vendor | json }},
		variants: {{ product_6853720441023.variants | json }},
		options: {{ product_6853720441023.options | json }},
		media: {{ product_6853720441023.media | json }},
		has_only_default_variant: {{ product_6853720441023.has_only_default_variant | json }},
		options_with_values: {{ product_6853720441023.options_with_values | json }},
		selected_variant: {{ product_6853720441023.selected_variant | json }},
		selected_or_first_available_variant: {{ product_6853720441023.selected_or_first_available_variant | json }},
		tags: {{ product_6853720441023.tags | json }},
		template_suffix: {{ product_6853720441023.template_suffix | json }},
		featured_image: {{ product_6853720441023.featured_image | json }},
		featured_media: {{ product_6853720441023.featured_media | json }},
		images: {{ product_6853720441023.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_6853720441023.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["7600476913880"] = {
		id: {{ product_7600476913880.id | json }},
		handle: {{ product_7600476913880.handle | json }},
		title: {{ product_7600476913880.title | json }},
		type: {{ product_7600476913880.type | json }},
		url: {{ product_7600476913880.url | within: collection | json }},
		vendor: {{ product_7600476913880.vendor | json }},
		variants: {{ product_7600476913880.variants | json }},
		options: {{ product_7600476913880.options | json }},
		media: {{ product_7600476913880.media | json }},
		has_only_default_variant: {{ product_7600476913880.has_only_default_variant | json }},
		options_with_values: {{ product_7600476913880.options_with_values | json }},
		selected_variant: {{ product_7600476913880.selected_variant | json }},
		selected_or_first_available_variant: {{ product_7600476913880.selected_or_first_available_variant | json }},
		tags: {{ product_7600476913880.tags | json }},
		template_suffix: {{ product_7600476913880.template_suffix | json }},
		featured_image: {{ product_7600476913880.featured_image | json }},
		featured_media: {{ product_7600476913880.featured_media | json }},
		images: {{ product_7600476913880.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_7600476913880.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["7648508575960"] = {
		id: {{ product_7648508575960.id | json }},
		handle: {{ product_7648508575960.handle | json }},
		title: {{ product_7648508575960.title | json }},
		type: {{ product_7648508575960.type | json }},
		url: {{ product_7648508575960.url | within: collection | json }},
		vendor: {{ product_7648508575960.vendor | json }},
		variants: {{ product_7648508575960.variants | json }},
		options: {{ product_7648508575960.options | json }},
		media: {{ product_7648508575960.media | json }},
		has_only_default_variant: {{ product_7648508575960.has_only_default_variant | json }},
		options_with_values: {{ product_7648508575960.options_with_values | json }},
		selected_variant: {{ product_7648508575960.selected_variant | json }},
		selected_or_first_available_variant: {{ product_7648508575960.selected_or_first_available_variant | json }},
		tags: {{ product_7648508575960.tags | json }},
		template_suffix: {{ product_7648508575960.template_suffix | json }},
		featured_image: {{ product_7648508575960.featured_image | json }},
		featured_media: {{ product_7648508575960.featured_media | json }},
		images: {{ product_7648508575960.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_7648508575960.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};
	</script>{% if article_606753849675 == null %}{%- assign article_606753849675 = articles["stream-blog/best-streaming-software-for-twitch-youtube"] -%}{% endif %} {% if article_586960437464 == null %}{%- assign article_586960437464 = articles["stream-blog/how-to-grow-on-twitch"] -%}{% endif %} {% if article_586915774680 == null %}{%- assign article_586915774680 = articles["stream-blog/what-is-a-twitch-overlay"] -%}{% endif %}<div class="sc-dtImxT bsGuBU __pf __pf_QqhN97hl" id="__pf"><div data-pf-type="Body" class="sc-dxcExB boHSLB pf-5_"><div data-pf-type="Layout" class="sc-iapVNj kZpFRP pf-6_"><div data-section-id="pf-e718" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-7_ pf-color-scheme-1"><div class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-8_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-9_"><div class="sc-jEABJj givtUl pf-10_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-11_"><h1 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-12_ pf-heading-2-h3 custom-font pf-bg-lazy"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-14_">Twitch Overlays Marketplace</span></h1><p class="sc-dycZeM hGxKPR pf-15_ pf-text-4" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-17_">Level Up Your Stream With Hundreds of Professional Overlays, Widgets and Templates for Twitch and Youtube.</span></p><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-18_"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<div class="swiper">
  <div class="swiper-wrapper">
    {% assign collection = collections['full-packs'] %}
    {% for product in collection.products limit:8 %}
    <div class="swiper-slide">
      <a href="{{ product.url }}">
        <img src="{{ product.featured_image | img_url: '1024x576' }}" alt="{{ product.title }}" class="product-thumbnail" style="display:block;"/>
        {% if product.media[1].media_type == 'video' %}
        <video preload="metadata" class="product-video" style="display:none; width: 100%; height: auto;" playsinline
          muted src="{{product.media[1].sources[1].url}}" loop></video>
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="slides-button-prev" aria-label="Previous">
    <svg class="chevron" width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.580078 10.59L5.17008 6L0.580078 1.41L2.00008 0L8.00008 6L2.00008 12L0.580078 10.59Z" />
    </svg>
  </div>
  <div class="slides-button-next" aria-label="Next">
    <svg class="chevron" width="8" height="12" viewBox="0 0 8 12" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.580078 10.59L5.17008 6L0.580078 1.41L2.00008 0L8.00008 6L2.00008 12L0.580078 10.59Z" />
    </svg>
  </div>
</div></div><a href="/collections/" target="_self" data-pf-type="Button" class="sc-hZDzol bKecsa pf-19_ pf-button-1"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-21_">Shop Now</span></a><p class="sc-dycZeM hGxKPR pf-22_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-24_"><first-sel>Trusted by 110K+ Streamers Worldwide❤️</first-sel></span></p></div></div></div></div></div></div></div></div><div data-section-id="pf-2687" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-25_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-26_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-27_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-28_ pf-heading-1-h2"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-30_">Optimized For Your Streaming Setup</span></h2><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-31_"><div class="icons-container">
  <a href="https://kudos.tv/pages/twitch-layouts" class="svg-container">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/twitch_black.svg?v=1712060419" alt="Twitch Black Logo" class="svg-default">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/twitch_color.svg?v=1712060455" alt="Twitch Color Logo" class="svg-hover">
  </a>
  <a href="https://kudos.tv/pages/youtube-overlays" class="svg-container">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/yt_black.svg?v=1712060418" alt="Youtube Black Logo" class="svg-default">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/yt_color.svg?v=1712060456" alt="Youtube Color Logo" class="svg-hover">
  </a>
  <a href="https://kudos.tv/pages/facebook-overlays" class="svg-container">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/fb_black.svg?v=1712060418" alt="Facebook Black Logo" class="svg-default">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/fb_color.svg?v=1712060456" alt="Facebook Color Logo" class="svg-hover">
  </a>
  <a href="https://kudos.tv/pages/streamlabs-overlays" class="svg-container">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/sl_black.svg?v=1712060419" alt="Streamlabs Black Logo" class="svg-default">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/sl_color.svg?v=1712060455" alt="Streamlabs Color Logo" class="svg-hover">
  </a>
  <a href="https://kudos.tv/pages/obs-templates" class="svg-container">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/obs_black.svg?v=1712060418" alt="OBS Black Logo" class="svg-default">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/obs_color.svg?v=1712060455" alt="OBS Color Logo" class="svg-hover">
  </a>
  <a href="https://kudos.tv/pages/streamelements-overlays" class="svg-container">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/SE_BLACK.png?v=1712147205" alt="StreamElements Black Logo" class="svg-default">
    <img loading="lazy" src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/se_color.png?v=1712147215" alt="StreamElements Color Logo" class="svg-hover">
  </a>
</div></div></div></div></div></div></div><div data-section-id="pf-3fbe" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-32_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-33_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-34_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-35_ pf-heading-1-h3"><a data-link="inherit" href="/collections/full-packs" target="_self"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-37_">Top Sellers</span></a></h2><div class="sc-jEABJj givtUl pf-38_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-39_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-40_"><div class="product-thumbnail-section">
  {% assign product_handle = 'ai-tts-stream-companion' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="10036026179915" data-href="{{ product_10036026179915.url | within: collection }}" data-pf-type="ProductTitle" id="7861018525912" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-41_ pf-heading-1-h3">{{ product_10036026179915.title }}</h3><div data-pf-type="ProductPrice2" id="7861018525912" class="sc-dUWExc fIqMxB pf-42_ pf-text-1"><div data-product-type="price" data-product-id="10036026179915" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-43_ pf-text-1">{{ product_10036026179915.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-45_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-46_"><div class="product-thumbnail-section">
  {% assign product_handle = 'customizable-vtuber-model' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="8901256642891" data-href="{{ product_8901256642891.url | within: collection }}" data-pf-type="ProductTitle" id="7873852539096" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-47_ pf-heading-1-h3">{{ product_8901256642891.title }}</h3><div data-pf-type="ProductPrice2" id="7873852539096" class="sc-dUWExc fIqMxB pf-48_ pf-text-1"><div data-product-type="price" data-product-id="8901256642891" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-49_ pf-text-1">{{ product_8901256642891.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-51_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-52_"><div class="product-thumbnail-section">
  {% assign product_handle = 'itachi' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="7827210830040" data-href="{{ product_7827210830040.url | within: collection }}" data-pf-type="ProductTitle" id="7827210830040" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-53_ pf-heading-1-h3">{{ product_7827210830040.title }}</h3><div data-pf-type="ProductPrice2" id="7827210830040" class="sc-dUWExc fIqMxB pf-54_ pf-text-1"><div data-product-type="price" data-product-id="7827210830040" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-55_ pf-text-1">{{ product_7827210830040.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-57_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-58_"><div class="product-thumbnail-section">
  {% assign product_handle = 'data' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="7661641597144" data-href="{{ product_7661641597144.url | within: collection }}" data-pf-type="ProductTitle" id="8701442359627" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-59_ pf-heading-1-h3">{{ product_7661641597144.title }}</h3><div data-pf-type="ProductPrice2" id="8701442359627" class="sc-dUWExc fIqMxB pf-60_ pf-text-1"><div data-product-type="price" data-product-id="7661641597144" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-61_ pf-text-1">{{ product_7661641597144.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-63_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-64_"><div class="product-thumbnail-section">
  {% assign product_handle = 'cute-chat-widget' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="8703062999371" data-href="{{ product_8703062999371.url | within: collection }}" data-pf-type="ProductTitle" id="8703062999371" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-65_ pf-heading-1-h3">{{ product_8703062999371.title }}</h3><div data-pf-type="ProductPrice2" id="8703062999371" class="sc-dUWExc fIqMxB pf-66_ pf-text-1"><div data-product-type="price" data-product-id="8703062999371" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-67_ pf-text-1">{{ product_8703062999371.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-69_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-70_"><div class="product-thumbnail-section">
  {% assign product_handle = 'abyss' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="8708184375627" data-href="{{ product_8708184375627.url | within: collection }}" data-pf-type="ProductTitle" id="8644077945163" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-71_ pf-heading-1-h3">{{ product_8708184375627.title }}</h3><div data-pf-type="ProductPrice2" id="8644077945163" class="sc-dUWExc fIqMxB pf-72_ pf-text-1"><div data-product-type="price" data-product-id="8708184375627" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-73_ pf-text-1">{{ product_8708184375627.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-75_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-76_"><div class="product-thumbnail-section">
  {% assign product_handle = 'cute-cats' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="8361916531019" data-href="{{ product_8361916531019.url | within: collection }}" data-pf-type="ProductTitle" id="8355189391691" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-77_ pf-heading-1-h3">{{ product_8361916531019.title }}</h3><div data-pf-type="ProductPrice2" id="8355189391691" class="sc-dUWExc fIqMxB pf-78_ pf-text-1"><div data-product-type="price" data-product-id="8361916531019" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-79_ pf-text-1">{{ product_8361916531019.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-81_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-82_"><div class="product-thumbnail-section">
  {% assign product_handle = 'purple-night' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="7794631999704" data-href="{{ product_7794631999704.url | within: collection }}" data-pf-type="ProductTitle" id="7794631999704" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-83_ pf-heading-1-h3">{{ product_7794631999704.title }}</h3><div data-pf-type="ProductPrice2" id="7794631999704" class="sc-dUWExc fIqMxB pf-84_ pf-text-1"><div data-product-type="price" data-product-id="7794631999704" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-85_ pf-text-1">{{ product_7794631999704.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-87_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-88_"><div class="product-thumbnail-section">
  {% assign product_handle = 'witchy-kitten' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="8644077945163" data-href="{{ product_8644077945163.url | within: collection }}" data-pf-type="ProductTitle" id="8631240229195" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-89_ pf-heading-1-h3">{{ product_8644077945163.title }}</h3><div data-pf-type="ProductPrice2" id="8631240229195" class="sc-dUWExc fIqMxB pf-90_ pf-text-1"><div data-product-type="price" data-product-id="8644077945163" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-91_ pf-text-1">{{ product_8644077945163.variants[0].price | money }}</div></div></div></div></div></div></div></div><div class="sc-jEABJj givtUl pf-93_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-94_"><a href="/collections/" target="_self" data-pf-type="Button" class="sc-hZDzol bKecsa pf-95_ pf-button-1"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-97_">Load More</span></a></div></div></div></div></div><div data-section-id="pf-c1c7" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-98_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-99_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-100_"><h3 data-pf-type="Heading2" class="sc-EgOky kRKCTs pf-101_ pf-heading-1-h3">Let Our customers Speak For us</h3><p class="sc-eZYMKX jbgReR pf-103_ pf-text-1" data-pf-type="Paragraph3">Explore feedback from our satisfied (and not-so-satisfied) customers.<br>Wanna know more? See all 700+ reviews on <strong><a href="https://judge.me/reviews/kudos.tv" target="_blank"><span style="color: rgb(0, 128, 255);"></span></a><a href="https://judge.me/reviews/kudos.tv" target="_self"><span style="color: rgb(0, 128, 255);"></span></a><a href="https://judge.me/reviews/kudos.tv" target="_blank"><span style="color: rgb(0, 128, 255);"></span></a><a href="https://judge.me/reviews/kudos.tv" target="_blank"><span style="color: rgb(0, 128, 255);"></span></a><a href="https://judge.me/reviews/kudos.tv" target="_blank"><span style="color: rgb(0, 128, 255);"></span></a><a href="https://judge.me/reviews/kudos.tv" target="_blank"><span style="color: rgb(0, 128, 255);">Judge.me</span></a></strong></p></div></div></div><div class="sc-jEABJj givtUl pf-105_ pf-r pf-r-eh" style="--s-xs:8px;--s-sm:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-106_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-107_"><!-- Start of Judge.me code -->
<div class='jdgm-carousel-wrapper'>
  {% assign jm_metafields = shop.metafields.judgeme %}
  <div class='jdgm-carousel-title-and-link'>
    <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
    <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
        <span style='display:block' data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
    <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
from {{ shop.metafields.judgeme.all_reviews_count }} reviews 
        </span>
    </span>
  </div>
  {{ jm_metafields.featured_carousel }}
</div>
<!-- End of Judge.me code --></div></div></div></div></div></div><div data-section-id="pf-ac52" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-108_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-109_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-110_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-111_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-113_">The Ultimate Stream Design Library</span></h2><p class="sc-eZYMKX jbgReR pf-114_ pf-text-1" data-pf-type="Paragraph3">Get Overlays, Widgets and Tools to engage your viewers and build a personal brand. <br>From stream packages and widgets to alerts and transitions, find the essential assets to make your stream stand out.</p><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-116_"><div class="collari_inner">
  <a href="/collections/full-packs">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/fullpacks.svg?v=1712329266" alt="Stream Packages">
    <h3>Stream Packages</h3>
  </a>

  <a href="/collections/transitions">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/transitions.svg?v=1712329267" alt="Stinger Transitions">
    <h3>Stinger Transitions</h3>
  </a>

  <a href="/collections/alerts">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/alerts.svg?v=1712329266" alt="Stream Alerts">
    <h3>Stream Alerts</h3>
  </a>

  <a href="/collections/overlays">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/webcam.svg?v=1712329266" alt="Webcam Overlays">
    <h3>Webcam Overlays</h3>
  </a>

  <a href="/collections/emotes">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/emotes.svg?v=1712329267" alt="Twitch Emotes">
    <h3>Twitch Emotes</h3>
  </a>

  <a href="/collections/badges">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/badges.svg?v=1712329266" alt="Twitch Badges">
    <h3>Twitch Badges</h3>
  </a>

  <a href="/collections/twitch-widgets">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/widgets.svg?v=1712329267" alt="Widgets">
    <h3>Widgets</h3>
  </a>

  <a href="/collections/freebies">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/freebies.svg?v=1712329297" alt="Freebies">
    <h3>Freebies</h3>
  </a>
</div></div></div></div></div></div></div><div data-section-id="pf-2019" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-117_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-118_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-119_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-120_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-122_">Game Overlays</span></h2><p class="sc-eZYMKX jbgReR pf-123_ pf-text-1" data-pf-type="Paragraph3">Browse overlays related to your favorite game</p><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-125_"><div class="grid-container">
  {% assign collection_handles =
  'cs2-overlays,fortnite-overlays,minecraft-overlays,star-wars-overlays,league-of-legends-overlays,pubg-overlays,rocket-league-overlays,apex-legends-overlays'
  | split: ',' %}

  {% for handle in collection_handles %}
  {% assign collection = collections[handle] %}
  <a href="{{ collection.url }}" class="grid-item">
    <img src="{{ collection.image.src | img_url: '600x600' }}" alt="{{ collection.title }}">
  </a>
  {% endfor %}
</div></div></div></div></div></div></div><div data-section-id="pf-4e06" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-126_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-127_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-128_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-129_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-131_">Choose Your Vibe</span></h2><p class="sc-eZYMKX jbgReR pf-132_ pf-text-1" data-pf-type="Paragraph3">Explore overlays curated for your aesthetics</p><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-134_"><div class="grid-container">
  {% assign collection_handles =
  'anime-overlays,retro-overlays,vtuber-overlays,horror-overlays,fantasy-overlays,pixel-art-overlays,just-chatting-overlays,cute-overlays'
  | split: ',' %}

  {% for handle in collection_handles %}
  {% assign collection = collections[handle] %}
  <a href="{{ collection.url }}" class="grid-item">
    <img src="{{ collection.image.src | img_url: '600x600' }}" alt="{{ collection.title }}">
  </a>
  {% endfor %}
</div></div></div></div></div></div></div><div data-section-id="pf-23f5" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-135_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-136_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-137_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-138_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-140_">Community spotlight</span></h2><p class="sc-eZYMKX jbgReR pf-141_ pf-text-1" data-pf-type="Paragraph3">Meet streamers and content creators who use our overlays daily. <br>Whether you're a seasoned pro or just starting out, we have what you need for your live streams.</p></div></div></div><div class="sc-jEABJj givtUl pf-143_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-144_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-145_"><div class="profile-section">
  <a href="https://www.youtube.com/channel/UCED32YiCElH8bwK3ANsVZSQ/" class="profile-card">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/peachmilky.png?v=1712079532" alt="Peachmilky" class="profile-pic">
    <span class="profile-button">Peachmilky</span>
  </a>
  <a href="https://www.youtube.com/@CodingWithLewis" class="profile-card">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/Lewis.png?v=1712079532" alt="CodingWithLewis" class="profile-pic">
    <span class="profile-button">CodingWithLewis</span>
  </a>
  <a href="https://www.twitch.tv/alyssazhu" class="profile-card">
    <img src="https://cdn.shopify.com/s/files/1/0559/4788/6783/files/Alyssazhu.png?v=1712079532" alt="Alyssazhu" class="profile-pic">
    <span class="profile-button">Alyssazhu</span>
  </a>
</div></div></div></div></div></div></div><div data-section-id="pf-9be3" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-146_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-147_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:6"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-148_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-149_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-151_">Professional Design 🧑‍🎨</span></h2><p class="sc-eZYMKX jbgReR pf-152_ pf-text-1" data-pf-type="Paragraph3">Our Twitch overlays are made by industry's best designers, ensuring they look great and work even better. <br><br>The best part? They're super affordable. You get the look of a high-end stream without spending tons of money. As simple as that.</p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:6"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-154_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-155_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-157_">Effortless Setup 🧑‍🍳</span></h2><p class="sc-eZYMKX jbgReR pf-158_ pf-text-1" data-pf-type="Paragraph3">Setting up your overlays has never been easier. Whether you're OBS Studio, Streamlabs, or StreamElements user, the hassle is gone.<br><br>Each pack has handy quick install files to get you started in no time!</p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:6"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-160_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-161_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-163_">Enhanced Engagement 📈</span></h2><p class="sc-eZYMKX jbgReR pf-164_ pf-text-1" data-pf-type="Paragraph3">Entertain your audience with a range of tools designed to make your stream truly interactive. <br><br>From dynamic alerts to cute stream pets, get everything you need to keep your viewers tuned in!</p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:6"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-166_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-167_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-169_">Stellar Support ✨</span></h2><p class="sc-eZYMKX jbgReR pf-170_ pf-text-1" data-pf-type="Paragraph3">Need Assistance? Got Special Requests? We’re on it! <br><br>Visit our Help Center with detailed guides and tutorials or just give us a shout, and we’ll make sure your new stream assets run smooth and flawless.</p></div></div></div></div></div><div data-section-id="pf-ddd7" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-172_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-173_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-174_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-175_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-177_">Learning Hub</span></h2><p class="sc-eZYMKX jbgReR pf-178_ pf-text-1" data-pf-type="Paragraph3">Discover key insights and tips for every stage of your streaming journey. <br>From choosing the perfect platform to expanding your audience and much more — our blog is your go-to place for all things streaming.</p><div class="sc-jEABJj givtUl pf-180_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-181_"><a href="{{ article_606753849675.url }}" data-pf-type="ArticleImage" class="sc-cMa-dPg sc-fUBjpT dRoHbK dwZasy pf-182_ pf-image-1 blog-image">
						<img src="{{ article_606753849675.image | img_url: 'master' }}" loading="lazy" alt="{{ article_606753849675.image.alt }}" width="{{ article_606753849675.image.width }}" height="{{ article_606753849675.image.height }}"/>
					</a><h3 data-pf-type="ArticleTitle" class="sc-campCi sc-jdUdnB gwyUgs ipdOam pf-183_ pf-heading-1-h3 blog-title"><a data-link="inherit" href="{{ article_606753849675.url }}">{{ article_606753849675.title }}</a></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-184_"><a href="{{ article_586960437464.url }}" data-pf-type="ArticleImage" class="sc-cMa-dPg sc-fUBjpT dRoHbK dwZasy pf-185_ pf-image-1 blog-image">
						<img src="{{ article_586960437464.image | img_url: 'master' }}" loading="lazy" alt="{{ article_586960437464.image.alt }}" width="{{ article_586960437464.image.width }}" height="{{ article_586960437464.image.height }}"/>
					</a><h3 data-pf-type="ArticleTitle" class="sc-campCi sc-jdUdnB gwyUgs ipdOam pf-186_ pf-heading-1-h3 blog-title"><a data-link="inherit" href="{{ article_586960437464.url }}">{{ article_586960437464.title }}</a></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-187_"><a href="{{ article_586915774680.url }}" data-pf-type="ArticleImage" class="sc-cMa-dPg sc-fUBjpT dRoHbK dwZasy pf-188_ pf-image-1 blog-image">
						<img src="{{ article_586915774680.image | img_url: 'master' }}" loading="lazy" alt="{{ article_586915774680.image.alt }}" width="{{ article_586915774680.image.width }}" height="{{ article_586915774680.image.height }}"/>
					</a><h3 data-pf-type="ArticleTitle" class="sc-campCi sc-jdUdnB gwyUgs ipdOam pf-189_ pf-heading-1-h3 blog-title"><a data-link="inherit" href="{{ article_586915774680.url }}">{{ article_586915774680.title }}</a></h3></div></div></div><a href="/blogs/stream-blog" target="_self" data-pf-type="Button" class="sc-hZDzol bKecsa pf-190_ pf-button-1"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-192_">Visit Blog</span></a></div></div></div></div></div><div data-section-id="pf-0942" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-193_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-194_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-195_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-196_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-198_">Frequently Asked Questions</span></h2><div class="sc-iGgVNO kjVON pf-199_ pf-icon-right" data-scrolling="false" data-multiple="false" data-pf-type="Accordion"><div data-pf-type="Accordion.Content.Wrapper" class="sc-gsFSjX jrgsRq pf-200_"><button type="button" class="sc-fqkwJk fCNPsG pf-201_ pf-bg-lazy pf-anchor" data-header-id="44e71607-9593-4e53-a17a-b014da2014d1" data-active="false" data-pf-type="Accordion.Header"><i class="pfa pfa-chevron-right pfa-arrow"></i><span>What is a twitch overlay?</span></button><div data-pf-expandable="true" data-id="44e71607-9593-4e53-a17a-b014da2014d1" style="display:none" data-pf-type="Accordion.Content" class="sc-dcJtft hDKXay pf-203_"><div class="sc-jEABJj givtUl pf-204_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-205_"><p class="sc-eZYMKX jbgReR pf-206_ pf-text-1" data-pf-type="Paragraph3">Twitch Overlay is a collection of design elements that streamers use to enhance the appearance, interactivity, and functionality of their streams.<br><br>While there are lots different types of Twitch overlays, most of the time people refer to complete stream packages that include various elements such as webcam borders, alerts, stream screens, labels, banners, panels, and other assets.<br><br>They can be either animated, with seamlessly looping video files, or static, as images. Twitch overlays play a crucial role in improving the viewing experience and effectively showcasing your brand and personality to viewers</p></div></div></div></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-gsFSjX jrgsRq pf-208_"><button type="button" class="sc-fqkwJk fCNPsG pf-209_ pf-bg-lazy pf-anchor" data-header-id="f09567dc-4c21-4b32-bea1-e4e90db301b0" data-active="false" data-pf-type="Accordion.Header"><i class="pfa pfa-chevron-right pfa-arrow"></i><span>Why should I use overlays on my stream?</span></button><div data-pf-expandable="true" data-id="f09567dc-4c21-4b32-bea1-e4e90db301b0" style="display:none" data-pf-type="Accordion.Content" class="sc-dcJtft hDKXay pf-211_"><div class="sc-jEABJj givtUl pf-212_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-213_"><p class="sc-eZYMKX jbgReR pf-214_ pf-text-1" data-pf-type="Paragraph3">Using a Twitch overlay can greatly enhance your stream by improving its visual appeal, adding a personal touch, and increasing interactivity with your viewers. Twitch overlays not only make your stream look more professional and polished, but also help to captivate and engage your audience, leading to longer watch times (and more ad revenue of course). Additionally, the interactive elements included in overlays can encourage viewer participation and create a more immersive experience.<br><br>By using a twitch overlay, you can create a unique and memorable brand identity for your stream, making it stand out among the vast sea of faceless content. This distinction can lead to increased viewer retention and a higher likelihood of receiving donations or subscriptions. The combination of an appealing aesthetic, personalization, and increased interactivity makes a twitch overlay a valuable tool for streamers looking to enhance their streaming experience and build a loyal community.</p></div></div></div></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-gsFSjX jrgsRq pf-216_"><button type="button" class="sc-fqkwJk fCNPsG pf-217_ pf-bg-lazy pf-anchor" data-header-id="9f7185cd-774f-4864-a39b-65ba9ef67299" data-active="false" data-pf-type="Accordion.Header"><i class="pfa pfa-chevron-right pfa-arrow"></i><span>Can I use these overlays for platforms other than Twitch?</span></button><div data-pf-expandable="true" data-id="9f7185cd-774f-4864-a39b-65ba9ef67299" style="display:none" data-pf-type="Accordion.Content" class="sc-dcJtft hDKXay pf-219_"><div class="sc-jEABJj givtUl pf-220_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-221_"><p class="sc-eZYMKX jbgReR pf-222_ pf-text-1" data-pf-type="Paragraph3">Yes, you can easily use our overlays on any streaming platform. However, our interactive assets such as alerts, widgets and stream labels are preconfigured only for Twitch and YouTube.</p></div></div></div></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-gsFSjX jrgsRq pf-224_"><button type="button" class="sc-fqkwJk fCNPsG pf-225_ pf-bg-lazy pf-anchor" data-header-id="5addff2f-6384-469e-8402-41490f99db41" data-active="false" data-pf-type="Accordion.Header"><i class="pfa pfa-chevron-right pfa-arrow"></i><span>What software is compatible with your overlays?</span></button><div data-pf-expandable="true" data-id="5addff2f-6384-469e-8402-41490f99db41" style="display:none" data-pf-type="Accordion.Content" class="sc-dcJtft hDKXay pf-227_"><div class="sc-jEABJj givtUl pf-228_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-229_"><p class="sc-eZYMKX jbgReR pf-230_ pf-text-1" data-pf-type="Paragraph3">Our overlays are ready for use with OBS Studio and Streamlabs Desktop, offering an easy setup through a few simple clicks. <br><br>Additionally, they're fully compatible with any modern streaming software. This flexibility comes from providing separate files for each asset in our packages, allowing you to integrate them into your preferred streaming platform seamlessly<br></p></div></div></div></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-gsFSjX jrgsRq pf-232_"><button type="button" class="sc-fqkwJk fCNPsG pf-233_ pf-bg-lazy pf-anchor" data-header-id="e72d0751-b90d-4e64-94dd-d089c197a737" data-active="false" data-pf-type="Accordion.Header"><i class="pfa pfa-chevron-right pfa-arrow"></i><span>Do you offer support for setting up overlays?</span></button><div data-pf-expandable="true" data-id="e72d0751-b90d-4e64-94dd-d089c197a737" style="display:none" data-pf-type="Accordion.Content" class="sc-dcJtft hDKXay pf-235_"><div class="sc-jEABJj givtUl pf-236_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-237_"><p class="sc-eZYMKX jbgReR pf-238_ pf-text-1" data-pf-type="Paragraph3">Absolutely! For support, our <strong><a href="https://help.kudos.tv" target="_self"><span style="color: rgb(0, 128, 255);">help center</span></a></strong> is your go-to resource, featuring detailed articles and video tutorials on setup processes. Should you encounter any difficulties, just reach out to us via the beacon on the bottom right corner of our website (we typically respond within a few hours).</p></div></div></div></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-gsFSjX jrgsRq pf-240_"><button type="button" class="sc-fqkwJk fCNPsG pf-241_ pf-bg-lazy pf-anchor" data-header-id="a74f29f8-b9cb-48dd-b898-de7d11e0930f" data-active="false" data-pf-type="Accordion.Header"><i class="pfa pfa-chevron-right pfa-arrow"></i><span>Can I request a custom overlay design?</span></button><div data-pf-expandable="true" data-id="a74f29f8-b9cb-48dd-b898-de7d11e0930f" style="display:none" data-pf-type="Accordion.Content" class="sc-dcJtft hDKXay pf-243_"><div class="sc-jEABJj givtUl pf-244_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-245_"><p class="sc-eZYMKX jbgReR pf-246_ pf-text-1" data-pf-type="Paragraph3">Currently, our custom design services are reserved for large or commercial projects due to high demand and limited team capacity. <br><br>If you represent a brand and are interested in a custom project, please feel free to contact us at <strong><a href="https://mailto:hello@kudos.tv" target="_self"><span style="color: rgb(0, 128, 255);">hello@kudos.tv</span></a></strong></p></div></div></div></div></div></div></div></div></div></div></div><div data-section-id="pf-8fb6" data-pf-type="Section" class="sc-fulBNO dOpZdJ pf-248_ pf-color-scheme-1"><div style="--cw:1170px" class="sc-dNsUpz hzCXJT"><div class="sc-jEABJj givtUl pf-249_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-250_"><h2 data-pf-type="Heading" class="sc-iEXLnV fsEdwV pf-251_ pf-heading-1-h3"><a data-link="inherit" href="/collections/full-packs" target="_self"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-253_">freebies</span></a></h2><div class="sc-jEABJj givtUl pf-254_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-255_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-256_"><div class="product-thumbnail-section">
  {% assign product_handle = 'neon-webcams' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="7525273338072" data-href="{{ product_7525273338072.url | within: collection }}" data-pf-type="ProductTitle" id="7525273338072" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-257_ pf-heading-1-h3">{{ product_7525273338072.title }}</h3><div data-pf-type="ProductPrice2" id="7525273338072" class="sc-dUWExc fIqMxB pf-258_ pf-text-1"><div data-product-type="price" data-product-id="7525273338072" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-259_ pf-text-1">{{ product_7525273338072.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-261_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-262_"><div class="product-thumbnail-section">
  {% assign product_handle = 'minimal-event-bar-widget' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="8703064899915" data-href="{{ product_8703064899915.url | within: collection }}" data-pf-type="ProductTitle" id="8703064899915" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-263_ pf-heading-1-h3">{{ product_8703064899915.title }}</h3><div data-pf-type="ProductPrice2" id="8703064899915" class="sc-dUWExc fIqMxB pf-264_ pf-text-1"><div data-product-type="price" data-product-id="8703064899915" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-265_ pf-text-1">{{ product_8703064899915.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-267_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-268_"><div class="product-thumbnail-section">
  {% assign product_handle = 'dog-emotes' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="7593437659352" data-href="{{ product_7593437659352.url | within: collection }}" data-pf-type="ProductTitle" id="7593437659352" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-269_ pf-heading-1-h3">{{ product_7593437659352.title }}</h3><div data-pf-type="ProductPrice2" id="7593437659352" class="sc-dUWExc fIqMxB pf-270_ pf-text-1"><div data-product-type="price" data-product-id="7593437659352" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-271_ pf-text-1">{{ product_7593437659352.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-273_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-274_"><div class="product-thumbnail-section">
  {% assign product_handle = 'nexus' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="6853720441023" data-href="{{ product_6853720441023.url | within: collection }}" data-pf-type="ProductTitle" id="6853720441023" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-275_ pf-heading-1-h3">{{ product_6853720441023.title }}</h3><div data-pf-type="ProductPrice2" id="6853720441023" class="sc-dUWExc fIqMxB pf-276_ pf-text-1"><div data-product-type="price" data-product-id="6853720441023" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-277_ pf-text-1">{{ product_6853720441023.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-279_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-280_"><div class="product-thumbnail-section">
  {% assign product_handle = 'free-twitch-panels' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="7600476913880" data-href="{{ product_7600476913880.url | within: collection }}" data-pf-type="ProductTitle" id="7600476913880" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-281_ pf-heading-1-h3">{{ product_7600476913880.title }}</h3><div data-pf-type="ProductPrice2" id="7600476913880" class="sc-dUWExc fIqMxB pf-282_ pf-text-1"><div data-product-type="price" data-product-id="7600476913880" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-283_ pf-text-1">{{ product_7600476913880.variants[0].price | money }}</div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-285_"><div data-pf-type="Custom.HTML" class="sc-kWtorq cWcgIZ pf-286_"><div class="product-thumbnail-section">
  {% assign product_handle = 'razor' %}
  {% assign product = all_products[product_handle] %}
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '1024x756' }}" alt="{{ product.title }}" class="product-thumbnail" load="lazy"/>
 {% if product.media[1].media_type == 'video' %}
    <video class="product-video" style="display:none; width: 100%; height: auto;" playsinline muted preload="metadata"
      src="{{product.media[1].sources[1].url}}" loop></video>
    {% endif %}
  </a>
</div></div><h3 data-product-type="title" data-product-id="7648508575960" data-href="{{ product_7648508575960.url | within: collection }}" data-pf-type="ProductTitle" id="7648508575960" class="sc-kpKSlO sc-cKXyOM gIkzjG hqyeK pf-287_ pf-heading-1-h3">{{ product_7648508575960.title }}</h3><div data-pf-type="ProductPrice2" id="7648508575960" class="sc-dUWExc fIqMxB pf-288_ pf-text-1"><div data-product-type="price" data-product-id="7648508575960" data-product-price="true" data-pf-type="ProductPrice2Item" class="sc-aNeNJ bxEIUe pf-289_ pf-text-1">{{ product_7648508575960.variants[0].price | money }}</div></div></div></div></div></div></div></div><div class="sc-jEABJj givtUl pf-291_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gvZzpm eSvBWp pf-292_"><a href="/collections/freebies" target="_self" data-pf-type="Button" class="sc-hZDzol bKecsa pf-293_ pf-button-1"><span data-pf-type="Text" class="sc-dQEsWe LHlFs pf-295_">Explore</span></a></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Twitch Overlays For Your Live Stream","pageType":"home","pageId":"75b7a524-e98e-4d42-b993-50859383bbd1","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"sectionRootType":"Section","trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.19.1","shopDomain":"kudosss.myshopify.com","elementData":{},"shopifyProxyPath":"/apps/pagefly"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script>// Page-wide custom JS
document.addEventListener('DOMContentLoaded', function () {
	const swiperScript = document.createElement('script');
	swiperScript.src = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js';
	swiperScript.onload = () => {
		const swiper = new Swiper('.swiper', {
			loop: true,
			autoplay: {
				delay: 1500,
				disableOnInteraction: true,
			},
			centeredSlides: true,
			centeredSlidesBounds: true,
			slidesPerView: 4,
			spaceBetween: 0,
			speed: 800,
			navigation: {
				nextEl: '.slides-button-next',
				prevEl: '.slides-button-prev',
			},
			breakpoints: {
				1440: {
					slidesPerView: 4,
					spaceBetween: 32,
				},
				1024: {
					slidesPerView: 3,
					spaceBetween: 32,
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 20,
				},
				320: {
					slidesPerView: 1,
					spaceBetween: 10,
				},
			},
			on: {
				init: function () {
					document.querySelector('.swiper').style.visibility = 'visible';
				},
			},
		});

		// Video hover functionality
		const handleMouseEnter = (event) => {
			const thumbnail = event.currentTarget.querySelector('.product-thumbnail');
			const video = event.currentTarget.querySelector('.product-video');
			if (video) {
				thumbnail.style.display = 'none';
				video.style.display = 'block';
				video.play();
			}
		};

		const handleMouseLeave = (event) => {
			const thumbnail = event.currentTarget.querySelector('.product-thumbnail');
			const video = event.currentTarget.querySelector('.product-video');
			if (video) {
				video.pause();
				video.style.display = 'none';
				thumbnail.style.display = 'block';
			}
		};

		document.querySelectorAll('.swiper-slide').forEach((slide) => {
			slide.addEventListener('mouseenter', handleMouseEnter);
			slide.addEventListener('mouseleave', handleMouseLeave);
		});
	};
	document.head.appendChild(swiperScript);
});
document.addEventListener('DOMContentLoaded', function () {
	// Find all the containers that should have the hover effect
	var thumbnailSections = document.querySelectorAll('.product-thumbnail-section');

	// Function to play the video
	function playVideo(event) {
		var video = event.currentTarget.querySelector('.product-video');
		if (video) {
			var thumbnail = event.currentTarget.querySelector('.product-thumbnail');
			thumbnail.style.display = 'none'; // Hide the thumbnail
			video.style.display = 'block'; // Show the video
			video.play();
		}
	}

	// Function to pause the video
	function pauseVideo(event) {
		var video = event.currentTarget.querySelector('.product-video');
		if (video) {
			var thumbnail = event.currentTarget.querySelector('.product-thumbnail');
			video.pause();
			video.style.display = 'none'; // Hide the video
			thumbnail.style.display = 'block'; // Show the thumbnail
		}
	}

	// Add event listeners for each container
	thumbnailSections.forEach(function (section) {
		section.addEventListener('mouseenter', playVideo);
		section.addEventListener('mouseleave', pauseVideo);
	});
});</script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://kudosss.myshopify.com/admin/apps/pagefly/editor?id=75b7a524-e98e-4d42-b993-50859383bbd1&type=home)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}